name: GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"   # Runs every 12 hours
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITMETRICS }}   # Use your secret name

          # Output SVG file
          filename: github-metrics.svg

          # Modules enabled
          base: header, repositories
          plugin_languages: yes
          plugin_languages_details: percentage
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%

          config_timezone: Asia/Kolkata
